body {
	background: radial-gradient(circle at 30% 30%, rgba(0, 255, 255, 0.07), transparent 60%),
		radial-gradient(circle at 70% 70%, rgba(255, 0, 255, 0.07), transparent 60%),
		#131319;
	color: white;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-attachment: fixed;
}

.body-container {
	flex: 1;
}

h2 {
	padding: 20px;
	font-size: 2rem;
}

h3 {
	font-size: 32px;
	text-align: center;
}

.location-div {
	margin-top: 60px;
	padding: 100px 100px;
	display: flex;
	gap: 5px;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	width: max-content;
	/* border: 2px solid red; */
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.search-btn {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.1rem;
	padding: 10px 5px;
	border-radius: 10px;
	background-color: transparent;
	color: white;
	border: 1px solid white;
}

input {
	height: 50px;
	width: 400px;
	border-radius: 10px;
	border: none;
	background-color: #1E1E29;
}

footer {
	padding: 5px;
	text-align: center;
}

/* Weather details page */

.main-container {
	height: 85vh;
	width: 80vw;
	margin: auto;
	display: flex;
	gap: 10px;
}

/* Left div */

.search-bar-form {
	display: flex;
	flex-direction: row;
}

.search-bar-form>input {
	flex: 1;
}

.search-icon {
	height: 30px;
	margin: auto;
}

.weather-div {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #16161F;
}

.search-bar {
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-bar input:hover {
	transform: scale(1.01);
}

.search-bar input {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-bar img {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.search-bar img:hover {
	transform: scale(1.1);
}

.day-weather {
	border-radius: 10px;
	flex: 1;
	background-image: url(../resources/backgrounds/Weather=Clear\,\ Moment=Day.png);
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.day-weather:hover {
	transform: scale(1.01);
}

.details {
	padding: 30px;
	border-radius: 10px;
	background-color: magenta;
	flex: 1;
}

/* left-div upper-weather */

.upper-weather {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	font-weight: 600;
}

.upper-weather .location {
	font-size: 1.7rem;
	font-weight: 700;
}

.upper-weather .time {
	font-size: 1.3rem;
}

/* left-div - lower-weather */

.weather-icon>img {
	content: url(../resources/icons/Weather=Few\ Clouds\,\ Moment=Day.svg);
}

.lower-weather {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.lower-left {
	padding: 0;
}

.lower-left .temp {
	font-weight: 900;
	font-size: 5rem;
}

.lower-left .temp-minmax {
	font-size: 1.5rem;
	font-weight: 700;
}

.lower-left .weather-desc {
	font-size: 1.5rem;
	font-weight: 700;
}