body {
	background-color: #131319;
	color: white;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.body-container {
	background-color: pink;
	flex: 1;
}

footer {
	padding: 5px;
	text-align: center;
}